/data/
__pycache__/*
__pycache__/
__pycache__
.env
.venv/
.venv-ip/
pilot3/.venv/
./configurations/indexes.json
.Dockerfile.swp
/playground-data-review/
/remote_vs_data/
/remote_vs-data/
playground-data/ip.db
playground-data/lancedb/
