services:

  gradio:
    build: 
      context: .
    pull_policy: build
    restart: unless-stopped
    ports:
      - "8086:8086"
    environment:
      - OPENAI_API_ENDPOINT_URL=${OPENAI_API_ENDPOINT_URL}
      - ROOT_PATH=/dev
    volumes:
      - ./playground-data:/data:rw