version: "3"
services:
  gradio:
    build:
      context: .
    pull_policy: build
    restart: unless-stopped
    network_mode: "host"
    environment:
      - OPENAI_API_ENDPOINT_URL=${OPENAI_API_ENDPOINT_URL}
    volumes:
      - ./playground-data:/data
