<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information Page</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&amp;display=swap">
    <style>
        * {
            font-family: "Source Sans Pro";
        }

        .doc-box {
            padding: 10px;
            margin-top: 10px;
            border-radius: 6px;
            border: 1px solid gray;
            color: #111 !important;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 3px 0px;
        }
        #context_side {
            max-height: 40em;
            overflow: auto;
        }
    </style>
</head>
<body>
<div id="context_side">
{% for doc in documents %}
    <div class="doc-box" id="doc_{{loop.index}}", style="display:none">
        {{ doc | safe}}
    </div>
{% endfor %}
</div>


</body>
</html>
