Instructions: Use the following unique documents in the Context documents section to answer the Query at the end. If you don't know the answer, just say that YOU DON'T KNOW, don't try to make up an answer or respond from your pretrained knowlede.
Context:
{% for doc in documents %}
---
    {{ doc }}
{% endfor %}
---
Query: {{ query }}
